

/* style="margin-right: 40%; width: 60%;" */
.dev-tb {    
    /* border-radius: 5em; */
    color: rgb(0, 0, 0);
    /* background: linear-gradient(to right, rgb(58, 199, 217), rgb(178, 162, 180)); */
    background: rgb(255, 255, 255);
    border: 1px;
    text-align: center;
    width: 100%;
    /* padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 2px;
    padding-top: 2px; */
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 0%;
    margin-top: 5px;
    margin-bottom: 5px; */
    /* font-size: 24px; */
    /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04); */
}